/* Add your custom extension styling here */
.clips-panel {
    width: 550px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid 1px #555;
}

.menu-grid {
    color: #ddd;
    margin: 3px 3px 12px 3px;
    padding: 0;
    width: 550px;
    max-width: 550px;
}

.menu-header {
    color: #777;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    padding: 6px;
}

.menu-label {
    font-size: 0.9em;
    padding: 3px 6px;
    text-align: left;
}

.clips-app-grid {
    border-radius: 5px;
    /* padding: 5px; */
    /* margin: 5px; */
    /* height: 320px; */
    /* max-height: 250px; */
    /* width: 480px; */
    /* max-width: 640px; */
}

.clips-container-image {
    width: 200px;
    height: 160px;
}

.clips-container {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.3);
    /* background-color: transparent; */
}

.clips-container-text {
    padding: 8px;
    font-size: smaller;
}

/* .clips-sub-container {
    width: 200px;
    height: 160px;
} */

/* .clips-container-base:focus, .clips-container-base:hover { */
    /* border-color: rgba(125,48,232,1); */
    /* border-width: 2px; */
    /* box-shadow:
        0 0 0 1px rgba(125,48,232,0.24),
        0 2px 5px  rgba(125,48,232,0.32),
        0 2px 5px  rgba(125,48,232,0.46),
        0 14px 28px  rgba(125,48,232,0); */
    /* background-color: rgba(125, 48, 232, 0.3); */
/* } */

.clips-label-type {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 85%;
}

.clips-app-scrollview {
    border-radius: 5px;
}

.clips-app-search-entry {
    margin: 2px;
}